.class-normal{
    font-family: verdana;
    background-color: pink;
}
.class-cooler {
    font-size: 24px;

}
#id{
    color: blue;
    font-size: 36px;
}
#id2{
    background-color: green;
    font-weight: bold;
    font-size: 24px;
}